mail---
import Layout from '../layouts/Layout.astro';
import BookCards from "../components/BookCards.astro";
import { Image } from 'astro:assets';
import jackTurtle from "../images/jack-turtle.jpg"
---

<Layout
	seo={{
		title: "Jack Verson - Author",
		description: "Jack Verson is the author of three books in the science fiction genre. Jack, with education in physics and computer science, had a long career in the computer industry.",
		canonical: "https://jackverson.com/",
	}}
>
	<div class="flex bg-[#f5f8ff]">
		<div class="grid grid-cols-12 gap-4 container mx-auto justify-center my-[64px] items-center px-[20px]">
			<div class="grid col-start-1 col-span-12 md:col-span-6 justify-center">
			  <h1 class="text-5xl">Jack Verson - Profile</h1>
			</div>
			<div class="flex flex-wrap justify-center items-start col-start-1 md:col-start-7 col-span-12 md:col-span-6">
			  <Image src={jackTurtle} alt="Jack Verson" class="rounded-[20px] border-solid border-black border-[1px]" />
			  <span class="flex">Picture not an exact likeness of the author</span>
			</div>
		</div>
	</div>
	<div class="flex flex-wrap container mx-auto justify-left my-[64px] items-start px-[20px]">
		<p class="flex w-full text-lg my-[12px]">
			Jack Verson is the author of three books in the science fiction genre. Jack, with education in physics and computer science, had a long career in the computer industry. Starting in software, he worked for several years in the 1980’s as a computer game designer and publisher (Atari 400/800 computers), and finally as head of his own software company. The imagination required to conceive of and to write one’s own game titles and the inventiveness to start and run a successful software company are both qualities beneficial to an innovative science fiction book author. The physics background doesn’t hurt.
		</p>
		<p class="text-lg my-[12px]">
			Only after retirement at the age of 70 did he start his first book. Ideas had been gelling for years. Retirement gave him the time. His books have a quality derived from experience and the fun of being written without stress. Advantages of age. Some might say that youth is an advantage for a science fiction writer. That may be so, but he no longer has the option of promoting his books that way, so age it is.​
		</p>
		<p class="text-lg my-[12px]">
			Jack has currently finished three books. 
		</p>
		<p class="text-lg my-[12px]">
			The first two, Prism and Trek, are part of a series about settling extraterrestrial worlds. These are books based on other worlds that present problems to solve, small adventures with twists where logic is useful. Solutions that an astute reader could solve. Perhaps a very astute reader.
		</p>
		<p class="text-lg my-[12px]">
			The third, The Guidance, is a statement about social development on many planets, with pros and cons that could be relevant to life here on Earth. Science fiction can be used to deliver many different messages.
		<div class="flex w-full justify-center items-start">
		    <a href="mailto:jackverson@gmail.com" target="_blank" class="text-white hover:text-black bg-blue-700 hover:bg-green-300 rounded-[24px] px-[16px] py-[8px] mt-[24px]">Send Email to Jack Verson/a>
		</div>
		
	</div>
	<BookCards showSubtitle={true} />
</Layout>
