<footer class="border-b-2 border-gray-100 bg-blue-footer pt-[48px] px-[24px] w-full">
  <div class="flex justify-center items-center max-w-7xl mx-auto px-4 py-4 mt-[24px] border-t border-blue-900">
    <div class="flex text-sm">&copy; Copyright {new Date().getFullYear()} JackVerson.com All Rights Reserved.</div>
  </div>
</footer>