---

---

<header class="border-b-2 border-gray-100">
  <nav class="flex justify-center items-center max-w-7xl mx-auto px-4 py-4">
    <div class="flex relative">
      <ul class="flex">
        <li>
          <a class="text-sm md:text-base mx-4 block uppercase tracking-wider text-black no-underline hover:underline" href="/">
            Home
          </a>
        </li>
        <li>
          <a class="text-sm md:text-base mx-4 block uppercase tracking-wider text-black no-underline hover:underline" href="/books">Books</a>
        </li>
        <li>
          <a class="text-sm md:text-base mx-4 block uppercase tracking-wider text-black no-underline hover:underline" href="mailto:jackverson@gmail.com" target="_blank">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</header>