---

---

<header class="border-b-2 border-gray-100">
  <nav class="flex justify-between items-center max-w-7xl mx-auto px-4 py-4">
    <div class="text-lg uppercase tracking-narrow">
      <a href="/">
        Home
      </a>
    </div>
    <div class="flex relative mr-[50px]">
      <ul class="flex"> 
        <li>
          <a class="text-sm md:text-base mx-4 block uppercase tracking-wider text-black no-underline" href="/books">Books</a>
        </li>
      </ul>
      <div class="absolute top-[25px] w-[130px] bg-blue-100 rounded-[10px] left-[16px] hidden hover:flex">
        <ul class="p-[5px]">
          <li class="p-[5px]">
            <a href="/">Prism</a>
          </li>
          <li class="p-[5px]">
            <a href="/">Trek</a>
          </li>
          <li class="p-[5px]">
            <a href="/">The Gudiance</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>