---

---

<header class="border-b-2 border-gray-100">
  <nav class="flex justify-between items-center max-w-7xl mx-auto px-4 py-4">
    <div class="text-lg uppercase tracking-narrow">
      <a href="/">
        Home
      </a>
    </div>
    <div class="flex relative">
      <ul class="flex"> 
        <li>
          <a class="text-sm md:text-base mx-4 block uppercase tracking-wider text-black no-underline" href="/books">Books</a>
        </li>
        <li>
          <a href="mailto:jackverson@gmail.com" target="_blank" class="text-white hover:text-black bg-blue-700 hover:bg-green-300 rounded-[24px] px-[16px] py-[8px] mt-[24px]">Contact Jack Verson</a>
        </li>
      </ul>
    </div>
  </nav>
</header>