---
import Layout from '../../layouts/Layout.astro';
import { Image } from 'astro:assets';
import trekImage from "../../images/trekBook.webp"
---

<Layout
	seo={{
    	title: "Trek - By Jack Verson",
    	description: "Trek is the second book in a series about various planets settled from Earth. Each presents a problem based on the planet's unique biosphere that is impacting humanity’s life on the planet. Investigators are sent to try to help. Finding out what the issue is turns out to be the real problem. In this case, just finding out that a problem exists at all is a challenge.",
		canonical: "https://jackverson.com/books/trek",
    }}
>
	<div class="flex bg-[#f5f8ff]">
		<div class="grid grid-cols-12 gap-4 container mx-auto justify-center my-[64px] items-center px-[20px]">
			<div class="grid col-start-1 col-span-12 justify-center">
			  <h1 class="text-6xl">Trek</h1>
			</div>
		</div>
	</div>
	<div class="container mx-auto justify-left my-[64px] items-start px-[20px]">
		<div class="float-left pr-[24px] pb-[24px]">
			<Image src={trekImage} alt="Trek" class="rounded-[20px] max-h-[400px] w-auto" />
		</div>
		<p class="w-full text-lg my-[12px]">
			Trek is the second book in a series about various planets settled from Earth. Each presents a problem based on the planet's unique biosphere that is impacting humanity’s life on the planet. Investigators are sent to try to help. Finding out what the issue is turns out to be the real problem. In this case, just finding out that a problem exists at all is a challenge.
		</p>
		<p class="text-lg my-[12px]">
			Trek is a planet maintained purely for relaxation of people who have the time and inclination to take such a trip just to get away from it all and the finances to do so. Imagine a park encompassing an entire planet about the size of Earth. That’s what we have here. The small headquarters is even run by park service employees from Earth. If one could design a perfect planet for outdoorsy types, for those who enjoy nature, who like to walk, hike, and trek, or just for people who want to kick back and enjoy the world, Trek would be it. As long one is not too particular about which world they are enjoying.
		</p>
		<p class="text-lg my-[12px]">
			The weather on Trek is perfect all year long, not too hot, not too cold, occasional short periods of rain. No seasons, just a year-long spring. There are few animals, none dangerous. Streams and abundant growth is everywhere. Growth that provides fruits, vegetables, and nuts. All the nutrients, fiber, protein, minerals, and vitamins. Everything needed for a healthy diet is available literally for the picking. One can roam the planet for years and never worry about food or water.
		</p>
		<p class="text-lg my-[12px]">
			People actually do just that. There are no restrictions on how long anyone stays. It costs nothing to support a visitor so the length of a visit is up to each individual. Some people stay for a week, or a month, or even a year. All is fine until it isn’t.
		</p>
		<p class="text-lg my-[12px]">
			Some people leave and never return. Maybe a few have decided to make Trek their home. Possible, but that number keeps increasing. More people are noted to leave on an outing and not return for three, four, or five years. Then some do return after a long time. They talk about what they did during their time away. Explanations almost unbelievable especially since they feel they were away for only a short time. Indeed, they don't look like they aged at all. Others return with different stories, equally unbelievable.
		</p>
		<p class="text-lg my-[12px]">
			 There is something in the hinterlands of Trek that is not understood. Investigators from Earth are sent to find out what that is. They are sent from Escape, the Earth organization staffed with professionals to solve these sorts of mysteries. ​When those investigators don't return, others are sent. Some of those are also lost. Then a prior group returns, unable to explain where they had been. No help at all. One last attempt is made. The best of what Escape can offer, the star investigators who retired so many years ago on Prism are solicited to return to service to solve this problem. If they can't find out what’s happening, Trek will be closed. Sam, Vernon, along with their daughter Sienna soon agree and the search is on.
		</p>
		<p class="text-lg my-[12px]">
			What do you think is happening? You may have some idea but not a complete one. I guarantee it.
		</p>
		<div class="flex w-full justify-center items-start">
		    <a href="https://www.amazon.com/Trek-Strange-Planets-We-Settle/dp/B0DTYXLVRN/ref=sr_1_1?crid=106M79I76LFZJ&dib=eyJ2IjoiMSJ9.r_pkoNEW05vlBObRMuLLKsrJlRp19qdZ-Zltnm2i7kQ.k-PLJtJvJd3GpUdoQxFa6_vDUlRfm1jPJbJEjv_fr2I&dib_tag=se&keywords=jack+verson&qid=1738873007&sprefix=jack+verso%2Caps%2C227&sr=8-1" target="_blank" class="text-white hover:text-black bg-blue-700 hover:bg-green-300 rounded-[24px] px-[16px] py-[8px] mt-[24px]">Available on Amazon/Kindle</a>
		</div>
	</div>
	
</Layout>
