---
import "../styles/global.css";
import TopNavigation from "../components/TopNavigation.astro";
import Footer from "../components/Footer.astro";
import socialImageDeafult from "../images/social-image-default.png"
import { SEO, type Props as SEOProps } from "astro-seo";

export interface Props {
  seo?: SEOProps;
}

const { seo } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-R92YBE25MP"></script>
		<script is:inline>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'G-R92YBE25MP');
		</script>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<SEO 
      {...seo} 
      title={seo?.title ?? "Jack Verson - Author"} 
      description={seo?.description}
      canonical={seo?.canonical}
      extend={{
        // extending the default link tags
        link: [{ rel: "icon", href: "/favicon.ico" }],
        // extending the default meta tags
        meta: [
          {
            name: "og:image",
            content:
            `https://jackverson.com${socialImageDeafult.src}`,
          },
          { name: "og:title", content: seo?.title },
          { name: "og:description", content: seo?.description },
          { name: "og:image:width", content: "630" },
          { name: "og:image:height", content: "1200" },
          { name: "og:type", content: "website" },
          { name: "og:site_name", content: "JackVerson.com" },
          { name: "og:locale", content: "en_US" },
        ],
      }}
      />
	</head>
	<body>
		<TopNavigation />
		<slot />
		<Footer />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
